/* Google Fonts import */  
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

/* General styles */
body{
    font-family: 'Noto Sans', sans-serif;
}

.myshrink-banner {
  background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://images.unsplash.com/photo-1604594849809-dfedbc827105?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
  height: 300px;
  background-position: center;
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
}

.myshrink-header{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
    
}

.btn{
    margin-top: 20px;
}

h3{
    margin-top: 30px;
}

.alert-style{
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: lightblue;
}
