<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
        type="text/css"
        integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
        crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
<!--Email JS-->
    <script type= "text/javascript" src="https://cdn.jsdelivr.net/npm/emailjs-com@2/dist/email.min.js"></script>
    <script type= "text/javascript">
        (function() {
            emailjs.init("user_OwqvlEjmm8ba3XzaMNZac");
            })();
    </script>

    {% block styles %}
    {% endblock %}
    <title>My Shrink</title>
</head>

<body>

    <!-- Materializa Nav bar -->

    <nav class="light-blue accent-4" id="navbar">
        <div class="nav-wrapper">
            <a href="{{ url_for('get_shrink') }}" class="brand-logo">MyShrink</a>
            <a href="#" data-target="mobile-collapse" class="sidenav-trigger"><i class="fas fa-bars"></i></a>
            <ul class="right hide-on-med-and-down">
                     
                {% if session.user %}
                    <li><a href="{{ url_for('get_shrink') }}">Home</a></li>
                    <li><a href="{{ url_for('addshrink') }}">Add Shrink</a></li>
                    <li><a href="{{ url_for('search_shrink') }}">Search Shrink</a></li>
                    <li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
                    <li><a href="{{ url_for('contact') }}">Contact</a></li>
                    <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                {% else %}
                    <li><a href="{{ url_for('get_shrink') }}">Home</a></li>
                    <li><a href="{{ url_for('login') }}">Log In</a></li>
                    <li><a href="{{ url_for('contact') }}">Contact</a></li>
                    <li><a href="{{ url_for('register') }}">Register</a></li> 
                {% endif %}
             </ul>
        </div>
    </nav>

    <!-- Mobile Nav view-->
    <ul class="sidenav" id="mobile-collapse">
                {% if session.user %}
                    <li><a href="{{ url_for('get_shrink') }}">Home</a></li>
                    <li><a href="{{ url_for('addshrink') }}">Add Shrink</a></li>
                    <li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
                    <li><a href="{{ url_for('contact') }}">Contact</a></li>
                    <li><a href="{{ url_for('search_shrink') }}">Search Shrink</a></li>
                    <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                {% else %}
                    <li><a href="{{ url_for('contact') }}">Contact</a></li>
                    <li><a href="{{ url_for('get_shrink') }}">Home</a></li>
                    <li><a href="{{ url_for('login') }}">Log In</a></li> 
                    <li><a href="{{ url_for('register') }}">Register</a></li> 
                {% endif %}
    </ul>
    <!-- Flash Messages Section-->
    <div class="container alert-style">
        {% with alerts = get_flashed_messages() %}
        {% if alerts %}
        {% for alert in alerts %}

        <h3>{{ alert }}</h3>

        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
    <!--Container for content-->

    {% block content %}
    {% endblock %}

<!--float Button -->
<div class="float center-align light-blue lighten-4" onclick="floatToggle()">
    <div class="row">
        <div class="col s12">
            <span id="plus-float"> + </span>
            <ul>
                <li><i class="fas fa-cart-plus">-</i><a href="{{ url_for('addshrink') }}">Add Shrink</a></li>
                {% if session.user %}
                <li><i class="fas fa-sign-out-alt">-</i><a href="{{ url_for('logout') }}">Log Out</a></li>
                {% else %}
                <li><i class="fas fa-sign-in-alt">-</i> <a href="{{ url_for('login') }}">Log In</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
<!-- Materialize Footer--> 
        <footer class="page-footer light-blue accent-4">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">google map api here</h5>
                <p class="grey-text text-lighten-4">picture of map to go here.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">useful Tesco logins</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Inform</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">ourtesco</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">onelogin</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2021 Tesco PLC
            </div>
          </div>
        </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block scripts %}
    {% endblock %}
</body>

</html>