{% extends "base.html" %}
{% block content %}
<div class="myshrink-banner">
    <div class="myshrink-header">
        <h1> EDIT SHRINK </h1>
    </div>
</div>
<!--Department shrink -->
<div class="container">
    <div class="card-panel light-blue lighten-4">
        <form method="POST" action="{{ url_for('edit_shrink', shrink_id=shrink._id)}}">
            <div class="row">
                <!-- Department Selector -->
                <div class="input-field col s12">
                    <select id="department" name="department" class="validate" required>
                        <option value="" disabled>Choose Department</option>
                        <!-- Department Jinja Loop -->
                        {% for departments in department %}
                            {% if departments.department == shrink.department %}
                                <option value="{{ departments.department }}" selected> {{ departments.department.upper() }}
                                </option>
                            {% else %}
                                <option value="{{ departments.department }}"> {{ departments.department.upper() }}
                                </option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <label>Choose Department</label>
                </div>
            </div>
            <div class="row">
                <!-- Product Name -->
                <div class="input-field col s12 m6">
                    <input id="product_name" type="text" class="validate" name="product_name" minlength="3"
                        maxlength="30" pattern="^[a-zA-Z0-9 ]{3,16}$" required value="{{ shrink.product_name }}">
                    <label for="product_name">Product Name</label>
                </div>
            </div>
            <div class="row">
                <!-- Product Location -->
                <div class="input-field col s12 m6">
                    <input id="product_location" type="text" class="validate" name="product_location" minlength="3"
                        maxlength="30" pattern="^[a-zA-Z0-9 ]{3,30}$" value="{{ shrink.product_location }}">
                    <label for="product_location">Location (i.e 12L6b)</label>
                </div>
            </div>
            <div class="row">
                <!-- Loss in £'s -->
                <div class="input-field col s12 m6">
                    <input id="amount_lost_value" type="text" pattern="[0-9]+" class="validate" name="amount_lost_value"
                        minlength="1" maxlength="30" required value="{{ shrink.amount_lost_value }}">
                    <label for="product_name">Amount In £ No Decimal</label>
                </div>
            </div>
            <div class="row">
                <!-- Loss in units -->
                <div class="input-field col s12 m6">
                    <input id="amount_lost_singles" type="text" pattern="[0-9]+" class="validate"
                        name="amount_lost_singles" minlength="1" maxlength="30" required value="{{ shrink.amount_lost_singles }}">
                        <label for="product_name">Amount In Singles</label>
                </div>
            </div>
            <div class="row">
                <!-- Additional Information -->
                <div class="input-field col s12 m6">
                    <textarea id="additional_info" name="additional_info" maxlength="100"
                        class="materialize-textarea">{{ shrink.additional_info }}</textarea>
                    <label for="additional_info">Additional Information</label>
                </div>
            </div>
            <div class="row">
                <!-- Date of loss -->
                <div class="input-field col s12 m6">
                    <input id="date" type="text" class="datepicker validate" name="date" required value="{{ shrink.date }}">
                    <label for="date">Date Of Loss</label>
                </div>
            </div>
            <div class="row">
                <!-- Reolve toggle -->
                <div class="input-field col s12 m6">
                    <div class="switch">
                        <label for="resolved">
                            Resolved
                        {% if shrink.resolved %}
                            <input type="checkbox" id="resolved" name="resolved" checked>
                        {% else %}
                            <input type="checkbox" id="resolved" name="resolved">
                        {% endif %}
                            <span class="lever"></span>
                        </label>
                    </div>
                </div>
            </div>
            <!-- Submit & Cancel Button -->
            <div class="row col s12 center-align">
                <a href="{{ url_for('cancel') }}" class="btn waves-effect waves-light red lighten-1">Cancel</a>
                <button class="btn waves-effect waves-light" type="submit" name="POST">
                <a href="{{ url_for('cancel') }}">Edit Shrink</a> 
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}