{% extends "base.html" %}
{% block content %}
<div class="myshrink-banner">
    <div class="myshrink-header">
        <h1 class="myshrink-header"> WELCOME {{ username.upper() }} </h1>
    </div>
</div>
<!--Department shrink -->
<div class="container">
    <div class="row">
        <div class="col s12 m6">
           <h4 class="center-align">Top Shrink Department</h4>         
            <div class="card-panel light-blue">
                <span class="white-text">
                    {% for result in filtered_results %}
                        {% if not result.resolved %}
                        <ul class="collapsible blue darken-1">
                            <li>
                                <div class="collapsible-header blue darken-1">
                                  <a href="{{ url_for('edit_shrink', shrink_id=result._id) }}" class="waves-effect waves-light btn-small">Edit</a>
                                  {{ result.product_name}} || £ {{ result.amount_lost_value }}</div>
                                <div class="collapsible-body"><span class="media-shrink"> {{ result.additional_info }}</span></div>
                            </li>
                        </ul>
                </span>
                        {% endif %}
                    {% endfor %}
            </div>
        </div>
    <!-- Resolved shrink-->


    <div class="row">
        <div class="col s12 m6">
            <h4 class="center-align">Top Resolve Department</h4>
            <div class="card-panel light-blue ">
                <span class="white-text">
                    {% for result in filtered_results %}
                        {% if result.resolved %}
                        <ul class="collapsible blue darken-1">
                            <li>
                                <div class="collapsible-header blue darken-1"><a href="{{ url_for('edit_shrink', shrink_id=result._id) }}" class="waves-effect waves-light btn-small">Edit</a>
                                  <i ></i>{{ result.product_name}} || £ {{ result.amount_lost_value }}</div>
                                <div class="collapsible-body"><span> {{ result.additional_info }}</span></div>
                            </li>
                        </ul>
                        {% endif %}
                    {% endfor %}
                </span>
            </div>
        
        </div>
   </div>     
   
</div>


{% endblock %}