{% extends "base.html" %}
{% block content %}
<div class="myshrink-banner">
    <div class="myshrink-header">
        <h1> WELCOME {{ username.upper() }} </h1>
    </div>
</div>

<div class="row center-align">
    <div class="col s12 m5">
        <h4>Top 5 Shrink Department</h4>
      <div class="card-panel light-blue">
        <span class="white-text">
               {% for result in filtered_results %}
                <li>{{ result.product_name }} ||£ {{ result.amount_lost_value }} || {{ result.date }}</li> 
               {% endfor %}
        </span>
      </div>
    </div>
</div>


{% endblock %}