{% extends "base.html" %}
{% block content %}
<div class="myshrink-banner">
    <div class="myshrink-header">
        <h1> SEARCH SHRINK </h1>
    </div>
</div>
<!--Department shrink -->
    <h4 class="center-align">Search Shrink</h4>
<div class="container">
    <div class="row s12">
        <form action="{{ url_for('search_shrink') }}" method="POST">
            <div class="row valign-wrapper center-algin">
                <div class="input-field col s12">
                    <input type="text" name="search" id="search" class="validate" minlength="3" required>
                    <label for="search">Search For Shrink</label>
                </div>
            </div>
    
                <div class="row">
                    <div class="col s12 m4">
                        <a href="{{ url_for('search_shrink') }}" class="waves-effect waves-light btn-small red lighten-1">clear</a>
                        <button class="btn-small waves-effect waves-light" type="submit" name="POST">Search</button>
                    </div>
                </div>
        </form>
    </div>
 <!--Search Field-->          
    <div class="row">
        <div class="col s12 m12">
            <h4 class="center-align">Display Shrink</h4>
            {% if shrinksearch|length > 0 %}
                {% for shrink in shrinksearch %}
            <div class="card-panel light-blue left-align">
                        <ul class="collapsible blue darken-1">
                            <li>
                                <div class="collapsible-header blue darken-1 white-text search-button">
                                    <a href="{{ url_for('edit_shrink', shrink_id=shrink._id) }}" class="waves-effect waves-light btn-small center-algin">Edit</a>
                                    <a class="waves-effect waves-light btn-small red lighten-1 " href="{{ url_for('delete_shrink', shrink_id=shrink._id) }}">Delete</a>
                                    <i class="fas fa-apple-alt"></i>{{ shrink.product_name}}<br>
                                    <i class="fas fa-pound-sign"></i>£{{shrink.amount_lost_value}}
                                </div>
                                <div class="collapsible-body white-text">
                                    <p class="media-text"> Information: {{ shrink.additional_info }}</p><br>
                                    <p class="media-text"> Date: {{ shrink.date }}</p><br>
                                    <p class="media-text"> Department: {{ shrink.department.upper() }}</p><br>
                                    <p class="media-text"> Employee: {{ shrink.employee.upper() }}</p>
                                </div>
                            </li>
                
                        </ul>
                
            
            </div>
                {% endfor %}
            {% else %}
                            
                        <h3 class="center-align red-text"> NO SHRINK FOUND </h3>
                               
            {% endif %}
        </div>

    </div>
</div>
{% endblock %}