{% extends "base.html" %}
{% block content %}
<div class="myshrink-banner">
    <div class="myshrink-header">
        <h1> MyShrink </h1> 
    </div>
</div>

<h2> What is it?</h2>
<p> Shrink is a major threat for Tesco as a business. The definition is "a loss that cannot be accounted for". There are 
    many reasons that can cause shrink and as people with an interest in the business tracking, monitiring and solving shrink
    issues is the best way we can combat this. This app is a simple to use, user driven app to help track shrink threats, store
    solved issues and view history to help us keep on top of it using a MongoDB database  
</p>

<h3> How to use the app </h3>
<p>
    The App relies on us which is why its so important. Knowing what your shrink is and what its history is, is the first step to success.
    Users will:
    <ul>
        <li> Check shrink via SBO or Store Reports </li>
        <li> Enter it into the App </li>
        <li> Submit it with a simple button click </li>
        <li> Review and investigate shrink issues </li>
        <li> Click resolve to record the solved information </li>
    </ul>
</p>


    {% for shrink in shrinkDB %}
        {{ shrink.product_name }}<br>
        {{ shrink.product_location }}<br>
        {{ shrink.amount_lost_value }}<br>
        
    {% endfor %}
{% endblock %}