{% extends "base.html" %}
{% block content %}
<div class="myshrink-banner" id="banner">
   <div class="myshrink-header">
      <h1 class="myshrink-header"> MyShrink </h1>
   </div>
</div>
<div class="container">
<div class="row">
<!-- Materialize card panel 1 -->
<div class="col s12 m4 center-align white-text">
   <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
         <img class="activator" src=
            "https://images.unsplash.com/photo-1516321318423-f06f85e504b3?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE0fHx8ZW58MHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60" 
            alt="working_on_answers">
      </div>
      <div class="card-content">
         <span class="card-title activator grey-text text-darken-4">The What?<i class="fas fa-chevron-circle-down"></i></span>
      </div> 
      <div class="card-reveal light-blue">
         <span class="card-title grey-text text-darken-4 white-text"><i class="far fa-times-circle"></i></span>
         <p>Shrink is a major threat for Tesco as a business. The definition is "a loss that cannot be accounted for". There
            are
            many reasons that can cause shrink and as people with an interest in the business tracking, monitiring and
            solving shrink
            issues is the best way we can combat this. This app is a simple to use, user driven app to help track shrink
            threats, store solved issues and view history to help us keep on top of it using a MongoDB database
         </p>
      </div>
   </div>
</div>
<!-- Materialize card panel 2 -->
<div class="col s12 m4 offset-m4 center-align">
   <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
         <img class="activator" src=
            "https://images.unsplash.com/photo-1504868584819-f8e8b4b6d7e3?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1355&q=80") 
            alt="Enter_data">
      </div>
      <div class="card-content">
         <span class="card-title activator grey-text text-darken-4">The How?<i class="fas fa-chevron-circle-down"></i></span>
      </div>
      <div class="card-reveal light-blue white-text">
         <span class="card-title grey-text text-darken-4"><i class="far fa-times-circle"></i></span>
         <p>It's simple. Knowing what your shrink is, and what its history is, is the
            first step to success.
         </p>
         <p class="center-align">Users Will:</p>
         <ul>
            <li><i class="fas fa-check"></i> Check shrink via SBO or Store Reports </li>
            <li><i class="fab fa-elementor"></i> Enter it into the App </li>
            <li><i class="fas fa-sign-in-alt"></i> Submit it with a simple button click </li>
            <li><i class="fas fa-search"></i> Review and investigate shrink issues </li>
            <li><i class="fas fa-wrench"></i> Click resolve to record the solved information </li>
         </ul>
      </div>
   </div>
</div>
<!--Shrink button-->
<div class="col s12">
   <div class="row center-align">  
      <a class="waves-effect waves-light btn light-blue accent-4" href="{{ url_for('addshrink') }}">Add Shrink</a>
   </div>
</div>
<div class="shrink-tracker-title">
   <h3 class="center-align">Top Line view</h3>
</div>
<!--Shrink cards using Materialize Top 5 store lines day-->
<div class="row center-align">
    <div class="col s12 m6">
    <h4>Top Shrink Threats</h4>
    <div class="row">
        <div class="card-panel light-blue left-align">
            <span class="white-text">
                {% for shrink in shrinkDB %}
                    {% if not shrink.resolved %}
                <ul class="collapsible blue darken-1">
                <li>
                    <div class="collapsible-header blue darken-1">
                      <a href="{{ url_for('edit_shrink', shrink_id=shrink._id) }}" class="waves-effect waves-light btn-small button-style">Edit</a>
                        <a class="waves-effect waves-light btn-small red lighten-1 button-style" href="{{ url_for('delete_shrink', shrink_id=shrink._id) }}">Delete</a>
                         <span class="media-text"><i class="fas fa-apple-alt"></i>{{ shrink.product_name }}<br>
                        <i class="fas fa-pound-sign"></i>£{{ shrink.amount_lost_value }}</span>
                    </div>
                    <div class="collapsible-body">
                        <span> {{ shrink.additional_info }}</span> <br>
                        <span> {{ shrink.date }} </span>
                    </div>
                </li>
                </ul>
                    {% endif %}
                {% endfor %}
            </span>
        </div>
    </div>
</div>
<div class="col s12 m6">
<h4>Top Shrink Resolves</h4>
<div class="row">
   <div class="card-panel light-blue left-align">
      <span class="white-text">
         {% for shrink in shrinkDB %}
            {% if shrink.resolved %}
         <ul class="collapsible blue darken-1">
            <li>
               <div class="collapsible-header blue darken-1">
                   
                  <a href="{{ url_for('edit_shrink', shrink_id=shrink._id) }}" class="waves-effect waves-light btn-small">Edit</a>
                  <a class="waves-effect waves-light btn-small red lighten-1">Delete</a>
                  
                <span class="media-text"><i class="fas fa-apple-alt"></i>{{ shrink.product_name }}<br>
                <i class="fas fa-pound-sign"></i>{{ shrink.amount_lost_value }}</span>
               </div>
               <div class="collapsible-body">
                  <span> {{ shrink.additional_info }}</span> <br>
                  <span> {{ shrink.date }} </span>
               </div>
            </li>
         </ul>
            {% endif %}
         {% endfor %}
      </span>
   </div>
</div>
{% endblock %}